/* partie principale */
.section {
    padding: 30px;
}

.banniere {
    background-image: url("../images/imprimerie.jpg");
    /*source de l'image:https://www.bing.com/images/blob?bcid=RHueWmSojxEC2A*/
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.banniere .content {
    background: #00000096;
    margin-top: 20px;
    padding: 20px;
    color: white;
}

.content {
    max-width: 1500px;
    margin: auto;
}

.menu-image {
    text-align: center;
}

.element {
    display: inline-block;
    position: relative;
    padding: 5px;
}

.element:hover {
    box-shadow: 4px 4px 4px black;
}

.texte {
    /*le texte contenu sera au dessus de son image */
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 20%;
    color: white;
    width: 70%;
    flex: 1;
    padding: 1em;
}

.image-annecdote {
    /*les images des annecdotes floateuront à droite du texte */
    float: right;
}

.annecdotes {
    display: grid;
    grid-gap: 20px
}

.annecdotes-intro {
    background: #80808057;
    padding: 20px;
}

.annecdotes-intro h3 {
    font-size: 26px;
}