/*
    Style for the form

    All units are % or em for responsive design.
 */

.form {
    display: block;
    margin: 0 auto;
    width: 50%;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;

}

.form label {
    font-weight: bold;
}

.form input {
    grid-area: description;
    width: 80%;
}

.form input[type="file"]{
    grid-area: image;
    width: 80%;
}


.form input[type="submit"] {
    grid-area: submit;
}

.form input[type="time"] {
    width: 20%;

}

.form textarea {
    grid-area: description;
    width: 80%;
}

.form input[type="date"] {
    width: 20%;
}

.form .error {
    grid-area: submit;
    color: #f00;
    font-size: 0.8em;
}

.form .success {
    grid-area: submit;
    color: #0f0;
    font-size: 0.8em;
}

.form-group {
    margin: 0.5em 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;

}

.form-group:last-child {
    grid-template-areas: "location location";
}

.form-control {
    padding: 0.5em;
    border: 1px solid #999;
    border-radius: 0.5em;
    font-size: 1em;
    width: 100%;
}

.form-control:focus {

    outline: none;
}

.form-control.error {
    border: 1px solid #f00;
}

.form-control.success {

    border: 1px solid #0f0;
}

.help-block {
    color: #f00;
    font-size: 0.8em;
}



