/**
    Styles for the template page
    All units are % or em for responsive design.

 */

/**
    Header styles
    The header is composed of :
    - a section for the search form
    - a section for the title
    - a section for the user management
 */

.header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "search title user";
}



.header .search {
    grid-area: search;
}

.header .title {
    grid-area: title;
    text-align: center;
}

.header .user {
    grid-area: user;
    text-align: right;
}



.header .user a {
    color: #fff;
}

.header .user a:hover , .header .user a:active {
    color: #999;
}

.header .user a:visited {
    color: #fff;
}

.header .search form {
    margin: 0;
}

.header .search input {
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 0.5em;
    font-size: 1em;
    line-height: 1em;
    color: #333;
}

.header .search input:focus {
    outline: none;
}

.header .search input::placeholder {
    color: #fff;
}

.header .search input[type="text"] {
    width: 60%;
}

.header .search input[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    line-height: 1em;
    cursor: pointer;
}

.header .search input[type="submit"]:hover , .header .search input[type="submit"]:active {
    background-color: #ccc;
}

.header .search input[type="submit"]:focus {
    outline: none;
}

.header .search input[type="submit"]:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



/**
    Menu styles
 */

.menu {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline-block;
}

/**
    Main content styles
 */

.main {
    padding: 1em;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin: 0 0 1em 0;

}

.main .content{
    background: #fff;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    margin-bottom: 1em;
}

.main .content li {
    margin: 0 0 1em 0;
    padding: 0;
}

.footer {
    padding: 1em;
    background-color: #333333;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    text-align: center;

}

/*
    Float the feedBack <p>message</p> to the top right of the page
    The background color is set to success green and transparent
*/
#feedBack {
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    padding: 0 1em;
    border-radius: 0.5em;
    margin: 1em;
    z-index: 100;
    display: none;
}


/** show the feedBack <p>message</p> */
#feedBack.show {
    display: block;
   /*animation: fadeOut 5s;*/
}

.feedBack-error {
    background-color: rgba(255, 0, 0, 0.5);
}

.feedBack-success {
    background-color: rgba(0, 255, 0, 0.5);
}

/*@keyframes fadeOut {*/
/*    0% {*/
/*        opacity: 1;*/
/*    }*/
/*    100% {*/
/*        opacity: 0;*/
/*    }*/
/*}*/

/**
    Media queries
    The media queries are used to change the layout of the page
    depending on the screen size.
    The layout is changed from a 3 column grid to a 1 column grid
    when the screen size is less than 600px
 */

@media screen and (max-width: 600px) {
    .header {
        grid-template-columns: 1fr;
        grid-template-areas: "search" "title" "user";
    }
    .header .search input[type="text"] {
        width: 100%;
    }
}

/**
    Media queries
    The media queries are used to change the layout of the page
    depending on the screen size.
    The layout is changed from a 3 column grid to a 2 column grid
    when the screen size is less than 800px
 */

@media screen and (max-width: 800px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "search title" "search user";
    }

    .header .search input[type="text"] {
        width: 100%;
    }
}




















