/**
    Style for the user list page

    All units are % or em for responsive design.
 */

.user-table {
    width: 50%;
    margin: 0 auto;
    padding: 1.25em;
    border: 0.0625em solid #ccc;
    border-radius: 5px;
}

.user-table thead tr th {
    flex: 1;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}
.user-table tbody tr td {
    flex: 1;
    margin: 1em 0;
    padding: 1.25em;
    border: 0.0625em solid #ccc;
    border-radius: 5px;
    text-align: center;
}